[Unit]
Description=LAST safety data-gathering service

[Service]
User=ocs
WorkingDirectory=/home/ocs/python/WAO_Safety
ExecStart=/home/ocs/python/WAO_Safety/bin/last-safety-daemon start
ExecStop=/home/ocs/python/WAO_Safety/bin/last-safety-daemon stop
Restart=always

[Install]
WantedBy=multi-user.target
